{% load i18n %}
<p>{% blocktrans %}To ensure that two overlapping tasks are affected to different resources, they must belong to the
    same category. {% endblocktrans %}</p>
<table class="table table-stripped" id="category-table">
    <tr>
        <td>&nbsp;</td>
        <td>{% trans 'Name' %}</td>
        <td>{% trans 'How to balance tasks of this category accross resources?' %}</td>
        <td>{% trans 'Which difference do you tolerate between the least and the most used resources?' %}</td>
        <td>{% trans 'Bonus given when two successive tasks are affected to the same resource?' %}</td>
    </tr>
    {% for category in categories %}
    {% include 'autoplanner/include/category.html' %}
    {% endfor %}
    {% with category=new_category %}
    {% include 'autoplanner/include/category.html' %}
    {% endwith %}
</table>

