{% load i18n bootstrap3 autoplanner %}
<div class="row">
    <div class="col-md-10 col-lg-10 col-sm-12">
        <p class="well">{% blocktrans %}Finally, you need to define your tasks.

            The schedule will determine how to dispatch them to resources will respecting your constraints, if such a
            solution exists.
            {% endblocktrans %}
        </p>

        <table class="table table-stripped" id="resource-table">
            <tr>
                <th>&nbsp;</th>
                <th>{% trans 'The task…' %}</th>
                <th>{% trans 'begins at…' %}</th>
                <th>{% trans 'and ends at…' %}</th>
                <th>{% trans 'belongs to…' %}</th>
                <th>{% trans 'and is affected to:' %}</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
            {% for obj_with_categories in tasks_categories %}
            {% with obj=obj_with_categories.0 obj_categories=obj_with_categories.1 %}
            {% include 'autoplanner/include/task.html' %}
            {% endwith %}
            {% endfor %}
            {% with obj=new_task obj_categories=empty_set %}
            {% include 'autoplanner/include/task.html' %}
            {% endwith %}
        </table>
    </div>
    <div class="col-md-2 col-lg-2 col-sm-12">
        <ul class="list-group">
            <li class="list-group-item active">{% trans 'By category' %}</li>
            <li id="by_category_None" class="filter-tasks list-group-item"><a href="#" onclick="return $.df.call('autoplanner.forms.filter_tasks', {organization_pk: {{ organization.id }}, order_by: {{ order_by|js_value }}, agent_id: {{ agent_id|js_value }}, category_id: null});">{% trans 'all categories' %}</a></li>
            {% for x in categories %}
            <li id="by_category_{{ x.id }}" class="filter-tasks list-group-item"><a href="#" onclick="return $.df.call('autoplanner.forms.filter_tasks', {organization_pk: {{ organization.id }}, order_by: {{ order_by|js_value }}, agent_id: {{ agent_id|js_value }}, category_id: {{ x.id|js_value }} });">{{ x.name }}</a></li>
            {% endfor %}
        </ul>
        <ul class="list-group">
            <li class="list-group-item active">{% trans 'By agent' %}</li>
            <li id="by_agent_None" class="filter-tasks list-group-item"><a href="#" onclick="return $.df.call('autoplanner.forms.filter_tasks', {organization_pk: {{ organization.id }}, order_by: {{ order_by|js_value }}, agent_id: null, category_id: {{ x.id|js_value }} });">{% trans 'all agents' %}</a></li>
            {% for x in agents %}
            <li id="by_agent_{{ x.id }}" class="filter-tasks list-group-item"><a href="#" onclick="return $.df.call('autoplanner.forms.filter_tasks', {organization_pk: {{ organization.id }}, order_by: {{ order_by|js_value }}, agent_id: {{ x.id|js_value }}, category_id: {{ category_id|js_value }} });">{{ x.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
